html, body {
      background: #666;
      margin: 0em;
      margin-top: 2em;
      font-family: sans-serif;
    }

    svg {
      background: linear-gradient(180deg, rgba(2, 6, 34, 255) 0%, rgba(1, 19, 117, 255) 24%, rgba(0, 38, 225, 255) 63%, rgba(1, 135, 254, 255) 100%);
      width: 90vmin;
      height: 90vmin;
      display: block;
      margin: auto;
      box-shadow: 0px 0px 10px #0006;
    }